h1{
	color: red;
	text-decoration: underline;
	font-size:30px;
	text-align: center;
}
li{
	color:green;
}
ul li{
	color:blue;
}
.done{
	text-decoration: line-through;	
}
#square{
	background-color: green;
	width:40%;
}
